<div id="employeesContainer">
    {% for employee in company.employees %}
    {% if employee %}
    <div class="employee">
        <div class="employeePic">
            <img src="{{employee.image}}" alt="Employee Picture">
        </div>
        <div class="employeeInfo" id={{employee.id}}>
            <div>
                <h3>Name</h3>
                <p>{{employee.name}}</p>
            </div>
            <div>
                <h3>Role</h3>
                <p>{{employee.role}}</p>
            </div>
            <div>
                <h3>Blames</h3>
                <p>{{employee.blames}}</p>
            </div>
            <div class="employeeActions">
                <h3>Actions</h3>
                <div>
                    <a href="#" class="editEmployee" id={{employee.id}}><img src="/assets/images/edit.png" alt="" ></a>
                    <a href="/blame/{{employee._id}}"><img src="/assets/images/blame.png" alt=""></a>
                    <a href="/delete-employee/{{employee._id}}"><img src="/assets/images/delete.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% else %}
    <p>No employee</p>
    {% endfor %}
</div>
