<div class="companyForm">
    <form action="/update-company" method="post">
        <div>
            <h2>Company Edit</h2>
        </div>
        <div>
            <label for="Name">Company Name</label>
            <input type="text" name="name" id="companyName" value="{{company.name}}">
            {% if error %}
                <p>{{error.name}}</p>
                <p>{{error.errors.name}}</p>
            {% endif %}
        </div>
        <div>
            <label for="siret">Siret</label>
            <input type="number" name="siret" id="companySiret" value="{{company.siret}}">
            {% if error %}
                <p>{{error.siret}}</p>
                <p>{{error.errors.siret}}</p>
            {% endif %}
        </div>
        <div>
            <label for="ceo">CEO Name</label>
            <input type="text" name="ceo" id="companyCEO" value="{{company.ceo}}">
            {% if error %}
                <p>{{error.ceo}}</p>
                <p>{{error.errors.ceo}}</p>
            {% endif %}
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="mail" id="companyMail" value="{{company.mail}}">
            {% if error %}
                <p>{{error.mail}}</p>
                <p>{{error.errors.mail}}</p>
            {% endif %}
        </div>
            <input class="submitBtn" type="submit" value="Submit" />
        </div>
    </form>
    </form>
</div>

<div class="companyForm">
    <form action="/password-reset" method="post">
        <div>
            <h2>Password update</h2>
        </div>
        <div>
            <label for="password">Current Password</label>
            <input type="password" name="currentPassword" value="">
            {% if error %}
                <p>{{error.currentPassword}}</p>
            {% endif %}
        </div>
        <div>
            <label for="password">New Password</label>
            <input type="password" name="password" value="">
            {% if error %}
                <p>{{error.password}}</p>
                <p>{{error.errors.password}}</p>
            {% endif %}
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" value="">
        </div>
        <div>
            <input class="submitBtn" type="submit" value="Submit" />
        </div>
    </form>
    </form>
</div>
