<div class="companyForm">
    <form action="/update-company" method="post">
        <div>
            <h2>Company Edit</h2>
        </div>
        <div>
            <label for="Name">Company Name</label>
            <input type="text" name="name" id="companyName" value="{{company.name}}">
            {% if error %}
                <p>{{error.name}}</p>
            {% endif %}
        </div>
        <div>
            <label for="siret">Siret</label>
            <input type="number" name="siret" id="companySiret" value="{{company.siret}}">
            {% if error %}
                <p>{{error.siret}}</p>
            {% endif %}
        </div>
        <div>
            <label for="ceo">CEO Name</label>
            <input type="text" name="ceo" id="companyCEO" value="{{company.ceo}}">
            {% if error %}
                <p>{{error.ceo}}</p>
            {% endif %}
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="mail" id="companyMail" value="{{company.mail}}">
            {% if error %}
                <p>{{error.mail}}</p>
            {% endif %}
        </div>
            <input id="submitBtn" type="submit" value="Submit" />
        </div>
    </form>
    </form>
</div>
